* {
	color: aliceblue;
	margin: 0;
	padding: 0;
	font-family: "Inter", sans-serif;
}
.primary_color {
	color: rgb(255, 255, 255);
}
.secondary_color {
	color: rgba(255, 255, 255, 0.5);
}
.button_primary{
    padding: 1.1vw 2.7vw;
	border-radius: 40px;
    width: 40%;
	font-size: 1vw;
	color: rgb(255, 255, 255);	
    background: rgb(230, 83, 60);
    border: none;
}
.button_primary:hover{
    cursor: pointer;
    opacity: 0.9;
}


















header {
	/* background-color: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%); */
	background-color: #171313;
    padding-top: 4vw;
}
nav {
	max-width: 1440px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
nav ul li {
	list-style: none;
	height: 2.8vw;
	width: 6vw;
    font-size: 1.3vw;
    font-weight: 600;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	padding: 0 0.3vw;
}
nav ul {
	display: flex;
	gap: 5vw;
	padding: 0 0.3vw;
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 39px;
}
nav li:hover {
	cursor: pointer;
}
nav>h1>i {
	color: rgb(230, 83, 60);
	font-size: 3vw;
	font-weight: 900;
}
#home {
	background-color: rgb(230, 83, 60);
	color: rgb(255, 255, 255);
	border: none;
	border-radius: 46px;
}

/* <!-- bannar section --> */
.bannar_container {
	max-width: 1440px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	text-align: center;
	align-items: center;
}
.bannar_text {
	width: 40.111vw;
    /* change this when you connect online font */
}
.bannar_text h1 {
	font-size: 4.5vw;
	font-weight: 900;
	line-height: 100%;
	text-align: left;
	color: white;
}
#shape {
	font-family: "Miama", sans-serif;
	font-size: 9.7vw;
	font-weight: 400;
	display: inline-block;
}
.bannar_text p {
	color: rgba(255, 255, 255, 0.5);
    font-size: 1.4vw;
	margin: 2rem 0;
	text-align: left;
}
.bannar_buttons {
    max-width: 80%;
	display: flex;
    justify-content: space-between;
    align-items: center;
}
.bannar_buttons button {
	padding: 1.1vw 2.7vw;
	border-radius: 40px;
    width: 45%;
	font-size: 1vw;
	color: rgb(255, 255, 255);
}
.join_club {
	background: rgb(230, 83, 60);
    border: none;
}
.app {
	color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0);    
    border: 1px solid rgb(255, 255, 255);
}

.bannar_buttons button:hover {
	cursor: pointer;
}
.bannar_img {
	flex-direction: row;
	justify-content: space-between;
	align-items: right;
	color: white;
	position: relative;
	height: 35vw;
}
.bannar_img img {
	height: 100%;
}
.workout_tutorials img {
	/* width: 349px; */
	height: 100%;
}
.workout_vid {
	text-align: left;
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 0.67vw;
	backdrop-filter: blur(20px);
	background-color: rgba(255, 255, 255, 0.1);
	position: absolute;
	width: 8vw;
	height: 5vw;
	padding-right: 2vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	padding-left: 1.8vw;
	top: 9vw;
	left: 10vw;
    /* change top and right while making responsive */
    padding-bottom: 1vw;
}
.workout_vid > h3 {
	font-size: 2.2vw;
	font-weight: 900;
	background-color: rgba(255, 255, 255, 0);
	margin-bottom: 8px;
}
#br2{
	display: none;
}
.workout_vid p {
    font-size: 0.8vw;
	color: rgba(255, 255, 255, 0.65);
	background-color: rgba(255, 255, 255, 0);
}
.workout_tutorials {
	text-align: left;
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 0.67vw;
	backdrop-filter: blur(20px);
	background-color: rgba(255, 255, 255, 0.1);
	position: absolute;
	width: 12vw;
	height: 6vw;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 1vw;
	top: 22vw;
	right: 15vw;
	padding: 0.5rem;
	padding-right: 1.5rem;
    /* change top and right while making responsive */
}
.workout_elements {
	border-radius: 12px;
	background-color: rgba(255, 255, 255, 0);
}
.workout_tutorials h3 {
	font-size: 1.6vw;
	font-weight: 900;
	background-color: rgba(255, 255, 255, 0);
	margin-bottom: 8px;
}
.workout_tutorials p {
	font-size: 0.9vw;
	color: rgba(255, 255, 255, 0.65);
	background-color: rgba(255, 255, 255, 0);
}
.dot {
	height: 2.7vw;
	width: 2.7vw;
	background-color: rgb(230, 83, 60);
	border-radius: 50%;
	display: inline-block;
	margin: 0.5vw;
}




/* changing habit design */
.change_your_habit{
	background-color: #000000;
	text-align: center;
}
.change_your_habit_container {
	max-width: 1440px;
	margin: 0 auto;
	text-align: center;
	padding-top: 100px;
	padding-bottom: 100px;
}
.change_your_habit_container h1 {
	font-size: 3.5vw;
	margin-bottom: 14px;
}
#br{
	display: none;
}
.change_your_habit_container p {
	font-size: 1.1vw;
	font-weight: 400;
}
.change_your_habit_images {
	display: grid;
    grid-template-columns: repeat(4,1fr);
	justify-content: space-around;
	margin-top: 6.66rem;
}
.circle_images img {
	border: none;
    height: 15vw;
	/* background-color: #000000; */
	border: 4px solid #222222;
	border-radius: 50%;
}
.circle_images h3 {
	font-size: 1.1vw;
	color: rgb(255, 255, 255);
	padding-top: 3vh;
	padding-bottom: 6px;
	font-weight: 600;
}
.circle_images p {
	font-size: 1vw;
	font-weight: 400;
	color: rgba(255, 255, 255, 0.5);
}






/* run an extra mile */
.run_an_extra_mile{
    background-color: #000000;
	padding: 3vw 0;
}
.run_an_extra_mile_container{
    background-color: #222222;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
	backdrop-filter: blur(20px);
	padding: 2vw 0;
	border-radius: 15px;
}
.extra_texts{
    width: 50%;
}
.extra_texts>h1{
	color: rgb(255, 255, 255);
	font-size:3.5vw;
	font-weight: 900;
	margin-bottom: 14px;
}
.extra_texts>p{
	font-size:1.55rem;
	font-weight: 900;
	margin-bottom: 14px;
}
.extra_texts>button{
    margin-top: 2vw;
}
.extra_image{
    width: 36%;
    /* height: 50%; */
}
.extra_image img{
    width: 100%;
    border-radius: 1.5vw;
}


/* trainings_and_exercises designs */
.trainings_and_exercises {
    background-color: #000000;
    padding: 100px;
}
.training_and_excercise_container{
	max-width: 1440px;
	margin: 0 auto;
}
.trainings_and_exercises_texts h1 {
	font-weight: 900;
	color: rgb(255, 255, 255);
	font-size: 3vw;
}
.trainings_and_exercises_texts p {
	font-weight: 900;
	color: #757573;
	font-size: 1.1rem;
	width: 50%;
    padding-top: 2vw;
    padding-bottom: 2.2vw;
}

.grid_images_container {
	/* display: grid; */
	/* grid-template-columns: repeat(3,1fr); */
	display: flex;
	flex-direction: column;
	gap: 0;
}

.row1{
	display: flex;
}
.row2{
	display: flex;
}

.images1 {
	height: 30vh;
	width: 22vw;
	background: url("../images/exercise1.jpg") 50% / cover no-repeat;
	/* background-blend-mode:color-burn ; */
	display: flex;
	align-items: end;
	font-weight: 800;
}
.images1>p{
	height: 20%;
	text-align: left;
	padding-left: 20px;
	/* width: 20%; */
	/* border: salmon 2px solid; */
	font-size: 1.vw;
	background-color: rgba(0, 0, 0,0);
}

.images2 {
	height: 30vh;
	width: 48vw;
	display: flex;
	font-weight: 800;
	color: aqua;
	background: url("../images/exercise2.png") 50% / cover no-repeat ;	
}
.images2>p{
	height: 20%;
	padding-left: 30px;
	padding-top: 30px;
	font-size: 1.2vw;
	background-color: rgba(0, 0, 0,0);
}

.images3 {
	height: 30vh;
	width: 30vw;
	display: flex;
	align-items: end;
	font-weight: 800;
	background: url("../images/exercise3.png") 50% / cover no-repeat;
}
.images3>p{
	height: 20%;
	padding-left: 30px;
	padding-top: 30px;
	color: rgb(255, 255, 255);
	font-size: 1.2vw;
	background-color: rgba(0, 0, 0,0);
}

.images4 {
	height: 30vh;
	width: 40vw;
	display: flex;
	font-weight: 800;
	background: url("../images/exercise4.png") 50% / cover no-repeat;
}
.images4>p{
	height: 20%;
	padding-left: 70%;
	padding-top: 30px;
	color: white;
	font-size: 1.2vw;
	background-color: rgba(0, 0, 0,0);
}

.images5 {
	height: 30vh;
	width: 20vw;
	display: flex;
	font-weight: 800;
	background-size: cover;
	background: url("../images/exercise5.jpg") 50% / cover no-repeat;
}
.images5>p{
	height: 20%;
	padding-left: 10%;
	padding-top: 70%;
	color: white;
	font-size: 1.2vw;
	background-color: rgba(0, 0, 0,0);
}

.images6 {
	height: 30vh;
	width: 40vw;
	display: flex;
	font-weight: 800;
	background: url("../images/exercise6.jpg") 50% / cover no-repeat;
}
.images6>p{
	height: 20%;
	padding-left: 10%;
	padding-top: 35%;
	color: black;
	font-size: 1.2rem;
	background-color: rgba(0, 0, 0,0);
}


/* bmi chart */
.bmi_calc_content{
    background-color : #000000;
}
.bmi_calc {
	max-width: 1440px;
	margin: 0 auto;
	padding-top: 120px;
	padding-bottom: 120px;
}
.bmi_calc>h1 {
	font-size: 5vw;
	font-weight: 900;
	max-width: 70%;
	margin: 0 auto;
}
.bmi_calc>p {
	font-size: 1.5vw;
	max-width: 70%;
	margin: 0 auto;
}



/* bmi_chart_bg */
.bmi_chart_bg{
    background-color: #222222;
	/* padding-top: 80px; */
	padding-bottom: 80px;
}
.chart>h1{
    font-size: 2vw;
    font-weight: 900;
    padding: 1vw 0;
    margin-bottom: 3vw;
}
.bmi_chart{
	max-width: 80%;
	margin: 0 auto;
	padding-top: 100px;
    display: flex;
    justify-content: space-between;
}
.bmi_chart th{
    font-size: 1vw;
	color: white;
	font-weight: 800;
	border: 1px solid rgba(255, 255, 255, 0.5);
	width: 9vw;
	padding: 1vw;
	text-align: left;
	border-collapse: collapse;
    justify-content: center;
}
.bmi_chart td{
	color: rgba(255, 255, 255, 0.5);
	border: 1px solid rgba(255, 255, 255, 0.5) ;
	width: 9.5vw;
	padding: 0.5vw;
    font-size: 1vw;
	border-collapse: collapse;
    justify-content: center;
}
.bmi_chart table{
	border-collapse: collapse;
    padding-top: 1vw;
	padding-bottom: 1vw;
}
.calc{
    width: 55%;
}
.calc>h1{
    font-size: 2vw;
    font-weight: 900;
    padding: 1vw 0;
}
.calc>p{
    font-size: 1vw;
    padding-bottom: 2vw;
}
.input_row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
    gap: 10px;
}
.inputs{
    display: flex;
    flex-direction: column;
}
.inputs input{
    background-color: #383837;
    height: 3vw;
    border-radius: 10px;
    border: none;
    box-shadow: none;
    font-size: 1vw;
    padding: 0 1vw;
    margin: 0.5vw 0;
}
.inputs > .input_row > input{
    width: 45%;
}
.btn_join{
    padding: 1.1vw 2.7vw;
	border-radius: 40px;
    width: 40%;
    font-weight: 900;
	font-size: 1vw;
	color: rgb(255, 255, 255);	
    background: rgb(230, 83, 60);
    border: none;
    margin-top: 1.3vw;
}
.btn_join:hover{
    cursor: pointer;
    opacity: 0.8;
}



/* Meet our teams Section */
.meet_our_team{
	background-color: #000000;
	padding: 100px 0;
}
.meet_our_team_container{
	max-width: 1440px;
	margin: 0 auto;
	text-align: center;
}
.team_text h1{
	font-size: 3vw;
    font-weight: 900;
    padding: 1vw 0;
}
.team_text p{
	font-size: 1vw;
}
.team_images{
	background-color: #191919;
	border-radius: 12px;
	align-items: center;
}
.img_container{
	display: grid;
	grid-template-columns: repeat(3,1fr);
	gap: 24px;
	justify-content: center;
	align-content: center;
	padding: 1.5vw;
}
.trainer{
	display: flex;
	/* flex-direction: column; */
	justify-content: left;
	align-items: end;
	height: 19vw;
	width: 22vw;
	background-color: #000000;
	border-radius: 12px;
}
.trainer_text{
	text-align: left;
	padding-bottom: 2vw;
	padding-left: 2vw;
}
.trainer_text h3{
	font-size: 1.5vw;
}
.trainer_text p{
	font-size: 1.1vw;
}
.trainer1{
	background-image: url(./images/trainer1.png);
	background-repeat: no-repeat;
	background-size: cover;
	filter: brightness(0.8);
}
.trainer2{
	background-image: url(./images/trainer2.png);
	background-repeat: no-repeat;
	background-size: cover;
	filter: brightness(0.8);
}
.trainer3{
	background-image: url(./images/trainer3.png);
	background-repeat: no-repeat;
	background-size: cover;
	filter: brightness(0.8);
}
.trainer4{
	background-image: url(./images/trainer4.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position-x: center;
	filter: brightness(0.8);
}
.trainer5{
	background-image: url(./images/trainer5.png);
	background-repeat: no-repeat;
	background-size: cover;
	filter: brightness(0.8);
}
.trainer6{
	background-image: url(./images/trainer6.png);
	background-repeat: no-repeat;
	background-size: cover;
	filter: brightness(0.8);
}


/* footer designs */
footer{
	background-color: #191919;
	padding: 50px 0;
}
.footer_contents{
	max-width: 1440px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
footer h1>i {
	color: rgb(230, 83, 60);
	font-size: 5vw;
	font-weight: 900;
	margin-bottom: 2vw;
}
footer p{
	font-size: 1.2vw;
	margin-top: 2vw;
	color: rgba(255, 255, 255, 0.5);
}
.get_started_Side{
	display: flex;
	gap: 10vw;
}
.get_started_Side li{
	list-style: none;
	color:  rgba(255, 255, 255, 0.5);
	margin-bottom: 1.2vw;
	font-size: 1.5vw;
	font-weight: 350;
}
.get_started_Side :hover{
	cursor: pointer;	
}
#GS{
	color: rgb(255, 255, 255);
	font-size: 2vw;
	font-weight: 900;
	padding-bottom: 0.7vw;
}
#hr{
	width: 80%;
	margin: 0 auto;	
	margin-top: 3vw;
	margin-bottom: 1vw;
}
.copyrights>p{
	padding: 2vw 0;
	width: 80%;
	margin: 0 auto;
	text-align: center;
}

@media screen and (max-width: 392px){
	/* <!-- bannar section --> */
	.bannar_container {
		flex-direction: column;
		padding-bottom: 120vw;
	}
	.bannar_text {
		width: 90%;
		/* change this when you connect online font */
	}
	.bannar_text h1 {
		font-size: 10vw;
	}
	#shape {
		font-size: 13.7vw;
	}
	.bannar_text p {
		width: 68%;
		font-size: 4vw;
		margin: 1rem 0;
		text-align: left;
	}
	.bannar_buttons {
		max-width: 90%;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	#club{
		display: none;
	}
	.bannar_buttons button {
		width: 45%;
		height: 10vw;
		font-size: 4vw;
	}
	.bannar_buttons button:hover {
		cursor: pointer;
	}
	.bannar_img img {
		height: auto;
	}
	.workout_vid {
		width: 5rem;
		height: 12vw;
		top: 20vw;
		left: 50vw;
		border-radius: 2vw;
		/* change top and right while making responsive */		padding-bottom: 1vw;
	}
	.workout_vid > h3 {
		padding-left: 1.5vw;
		font-size: 1.5rem;
		font-weight: 900;
		margin-bottom: 0px;
	}
	.workout_vid p {
		font-size: 0.5rem;
	}
	.workout_tutorials {
		width: 22vw;
		height: 12vw;
		border-radius: 2vw;
		top: 80vw;
		right: 55vw;
		/* change top and right while making responsive */
	}
	.workout_elements {
		border-radius: 1.2rem;
	}
	.workout_tutorials h3 {
		font-size: 1.5rem;
		font-weight: 900;
		background-color: rgba(255, 255, 255, 0);
		margin-bottom: 0px;
	}
	.workout_tutorials p {
		font-size: 0.5rem;
	}
	.dot {
		height: 5vw;
		width: 5vw;
	}

		/* changing habit design */
	.change_your_habit_container h1 {
		font-size: 2rem;
		margin-top: 0;
	}
	#br{
		display: inline;
	}
	.change_your_habit_container p {
		font-size: 0.8em;
	}
	.change_your_habit_images {
		display: flex;
		flex-direction: column;
	}
	.circle_images img {
		border: none;
		height: 10rem;
		/* background-color: #000000; */
		border: 3px solid #222222;
		border-radius: 50%;
	}
	.circle_images h3 {
		font-size: 1rem;
		color: rgb(255, 255, 255);
		padding-top: 2vh;
		padding-bottom: 0px;
		font-weight: 600;
	}
	.circle_images p {
		font-size: 1rem;
		margin-bottom: 1rem;
		color: rgba(255, 255, 255, 0.5);
	}


	/* run an extra mile */

.run_an_extra_mile_container{
    display: flex;
	flex-direction: column;
	width: 90%;
	margin: 0 auto;
}
.extra_texts{
    width: 80%;
}
.extra_texts>h1{
	color: rgb(255, 255, 255);
	font-size:2.5rem;
	font-weight: 900;
	margin-top: 1rem;
	margin-bottom: 14px;
}
#br2{
	display: inline;
}
.extra_texts>p{
	font-size:0.8rem;
	margin-bottom: 0px;
}
.extra_texts>button{
	font-size: 1rem;
	width: 100%;
	height: 2.5rem;
	margin: 1rem auto;
}
.extra_image{
    width: 80%;
	margin-bottom: 1rem;
}
}

